$cyan-800: hsl(180, 29%, 50%);
$cyan-50: hsl(180, 52%, 96%);
$cyan-100: hsl(180, 31%, 95%);
$cyan-300: hsl(180, 8%, 52%);
$cyan-500: hsl(180, 14%, 20%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: $cyan-50;
  color: $cyan-300;
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  line-height: 1.4;
}
.header {
  min-height: 150px;
  width: 100%;
  background-image: url("../public/images/bg-header-mobile.svg");
  background-size: cover;
  background-color: $cyan-800;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  max-width: 1110px;
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
}
.filter {
  background: #fff;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
  .filterTags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    flex: 1;
  }
  .filterTag {
    background-color: $cyan-100;
    border-radius: 3px;
    display: flex;
    gap: 5px;
    overflow: hidden;
    .tag {
      padding: 2px 8px;
      color: $cyan-500;
      font-size: 12px;
    }
    .remove {
      background: $cyan-800;
      display: grid;
      place-items: center;
      padding: 0px 5px;
      cursor: pointer;
      transition: 0.5s ease;
      &:hover{
        background-color: $cyan-500;
        color: #fff;
      }
    }
  }
  .filterClearBtn {
    cursor: pointer;
  }
}

.job-list {
  padding: 50px 0px;
}
.jobCard {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 30px;
  cursor: pointer;
  margin-bottom: 40px;
  transition: all 0.1s ease;
  .companyLogo {
    margin-top: -50px;

    img {
      width: 50px;
    }
  }
  &:hover{
    border-left: 5px solid $cyan-800;
  }
}

.listingInfo{
  display: grid;
  grid-template-row: repeat(3,1fr);
  border-bottom: 1px solid $cyan-300;
  h2{
    color: $cyan-500;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .listingTitle{
    display: flex;
    align-items: center;
    gap: 22px;
    h3{
      color: $cyan-800;
      font-size: 16px;
    }
    .new{
      background: $cyan-800;
      color: #fff;
      border-radius: 30px;
      padding: 3px 10px;
      font-size: 12px;
    }
    .featured{
      background: $cyan-500;
      color: #fff;
      border-radius: 30px;
      padding: 3px 10px;
      font-size: 12px;

    }
  }
  .listingMeta{
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.listingTags{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px 0px;
  flex-wrap: wrap;
  span{
    background: $cyan-100;
    color: $cyan-800;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover{
      background-color: $cyan-800;
      color: #fff;
    }
  }
 
}

@media screen and (min-width: 768px) {
  .listingInfo{
    border-bottom: none;
  }
  .jobCard{
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .companyLogo{
    margin-top: 0px !important;
    img {
      width: 70px !important;
    }
  }
  .listingInfo{
    flex: 1;
  }
}
